body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 30px;
    font-weight: bold;
}

h2, button {
    text-align: center;
    color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    font-size: 60px;
    border: none;
    padding: 70px 140px;
    margin: 20px 0;
    border-radius: 5px;
    border: 5px solid black;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#Teamlist {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

ol {
    list-style-type: none; /* This removes the numbering */
    gap: 10px;
    gap: 10px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: auto; /* Adjust this to your preference, e.g., 300px or 100% */
    max-width: 80%; /* This ensures it doesn't stretch too wide on larger screens */
    margin-bottom: 20px;
}


li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

li:first-child {
    font-weight: bold;
    color: #007bff;
}
